body {
  margin: 0;
  font-family: 'Ropa Sans', sans-serif;
  overflow-x: hidden;
  background-color: #282c34;
  padding: 80px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}
.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}